@import "mixins";
@import "variables";


body {
  background-color: $body-background;
}
.container {
  width: 95%;
  margin: 40px auto;
}

.app-pages {
  min-height: 100vh;
  @include flex-box(space-between, initial, column);
}

// Form
.form {
  background-color: $transparent-background;
}