$header-background: rgb(167 139 250);
$menu-items-color: rgb(229 229 229);
$body-background: rgb(248 250 252);
$titles-text-color: #4c434c;
$transparent-background: white;
$btn-background: rgb(196 181 253);
$text-color: #333;
$error-message-color: rgb(239 68 68);
